mulepoc/src/main/app/mulemqmessageflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">


	<flow name="mulemqmessageflowFlow">
		<jms:inbound-endpoint connector-ref="Active_MQConfig" queue="manasa" doc:name="JMS MQ">
			<jms:transaction action="ALWAYS_BEGIN" />
		</jms:inbound-endpoint>
		
		<set-payload mimeType="application/json" doc:name="Set Payload" value="#[payload]"/>
		
        <logger message="pay load is #[payload]" level="INFO" doc:name="Logger"/>
		
	</flow>
</mule>
