mulepoc/src/main/app/outboundmqex.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

	<flow name="outboundmqexFlow">
		<http:listener config-ref="HDFC_HTTP_Listener_Configuration" path="/outboundmq" allowedMethods="POST" doc:name="HTTP" />
		
		<byte-array-to-string-transformer doc:name="Byte Array to String" />
		
		<jms:outbound-endpoint queue="ranganath" connector-ref="Active_MQConfig" doc:name="JMS" />
        <logger message="message to out bound #[payload]" level="INFO" doc:name="Logger"/>
		
	</flow>
</mule>
